<nav class="login-navigation">
    <i class="fa-solid fa-bars" onclick="changeOpenableMenuStatus()"></i>
    <p onclick="changeOpenableMenuStatus()">Menu</p>
</nav>


<div class="openable-menu-login" data-status="close">
    <div class="container">
        <div class="menu-title">
            <h2>Delmonte</h2>
            <p>Rediscover Luxury</p>
        </div>

        <div class="navig">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/collections">Collections</a></li>
                <li><a href="/biographie">Biographie</a></li>
                <li><a href="/membres">Membres</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if app.user is not empty %}
                    <li><a href="/logout">Déconnexion</a></li>
                {% endif %}
                {% if app.user is not empty %}
                    {% if app.user.admin %}
                        <li><a class="admin" href="/admin/collections">Collections</a></li>
                        <li><a class="admin" href="/admin/users">Utilisateurs</a></li>
                        <li><a class="admin" href="/admin/newsletter">Newsletter</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        <div class="close-openablemenu">
            <p class="close-openablemenu-btn" onclick="changeOpenableMenuStatus()">X</p>
        </div>
    </div>
</div>