body:has(.admin-users-edit) {
  background: #1E1E1E;
}
body:has(.admin-users-edit) .admin-users-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
body:has(.admin-users-edit) .admin-users-edit h1 {
  color: white;
  font-size: 4em;
}
body:has(.admin-users-edit) .admin-users-edit p {
  color: white;
  font-size: 1.4em;
}
body:has(.admin-users-edit) .admin-users-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
body:has(.admin-users-edit) .admin-users-edit form input {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.4em;
  padding: 10px 0;
  color: white;
  margin: 20px 0;
}
body:has(.admin-users-edit) .admin-users-edit form input {
  outline: none;
}
body:has(.admin-users-edit) .admin-users-edit form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
body:has(.admin-users-edit) .admin-users-edit form div input[type=checkbox] {
  margin: 5px 5px 0 5px;
}
body:has(.admin-users-edit) .admin-users-edit form div label {
  margin: 10px 5px;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}
body:has(.admin-users-edit) .admin-users-edit form button {
  padding: 10px 20px;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
body:has(.admin-users-edit) .admin-users-edit form .vich-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body:has(.admin-users-edit) .admin-users-edit form .vich-image div {
  color: white;
  margin: 10px 0;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}
body:has(.admin-users-edit) .admin-users-edit form .vich-image div label {
  margin: 0 20px;
}
body:has(.admin-users-edit) .admin-users-edit form .vich-image a {
  color: white;
  font-size: 1.3em;
}

@media screen and (max-width: 1600px) {
  body:has(.admin-users-edit) {
    background: #1E1E1E;
  }
  body:has(.admin-users-edit) .admin-users-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
    justify-content: center;
  }
  body:has(.admin-users-edit) .admin-users-edit h1 {
    color: white;
    font-size: 2em;
  }
  body:has(.admin-users-edit) .admin-users-edit p {
    color: white;
    font-size: 1.3em;
  }
  body:has(.admin-users-edit) .admin-users-edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }
  body:has(.admin-users-edit) .admin-users-edit form input {
    width: 60%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.2em;
    padding: 10px 0;
    color: white;
    margin: 20px 0;
  }
  body:has(.admin-users-edit) .admin-users-edit form input {
    outline: none;
  }
  body:has(.admin-users-edit) .admin-users-edit form div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  body:has(.admin-users-edit) .admin-users-edit form div input[type=checkbox] {
    margin: 5px 5px 0 5px;
  }
  body:has(.admin-users-edit) .admin-users-edit form div label {
    margin: 10px 5px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
  }
  body:has(.admin-users-edit) .admin-users-edit form button {
    padding: 10px 20px;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  body:has(.admin-users-edit) .admin-users-edit form .vich-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body:has(.admin-users-edit) .admin-users-edit form .vich-image div {
    color: white;
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  body:has(.admin-users-edit) .admin-users-edit form .vich-image div label {
    margin: 0 20px;
  }
  body:has(.admin-users-edit) .admin-users-edit form .vich-image a {
    color: white;
    font-size: 1em;
  }
}

/*# sourceMappingURL=admin_users_edit.css.map */
