.login {
  display: flex;
  height: 100vh;
}
.login .left {
  width: 45%;
  height: 100%;
  background: linear-gradient(-50deg, #1B191C, #2E2E2E, #1B191C);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .left .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.login .left .title h1 {
  color: white;
  font-size: 7em;
  font-family: "Pinyon Script", cursive;
  font-weight: 100;
  line-height: 0.6em;
}
.login .left .title p {
  color: white;
  font-size: 1.4em;
  text-align: center;
  width: 400px;
  font-weight: 300;
}
.login .left form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login .left form input {
  width: 60%;
  margin-bottom: 25px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.2em;
  padding: 5px;
}
.login .left form input:focus {
  outline: none;
}
.login .left form .create-account {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin: 30px 0 60px 0;
}
.login .left form .create-account .noaccount {
  font-size: 1.3em;
  color: white;
}
.login .left form .create-account a {
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
}
.login .left form button {
  border: none;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.login .left form .error-msg {
  margin-top: 30px;
  font-size: 1.5em;
  color: #ff4444;
  font-weight: 500;
}
.login .right {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/img/background_login.png");
  position: relative;
  color: white;
  align-items: center;
}
.login .right h2 {
  font-family: "Pinyon Script", cursive;
  position: relative;
  font-size: 8em;
  font-weight: 100;
}
.login .right p {
  position: relative;
  font-size: 1.5em;
  width: 78%;
}
.login .right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.7;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .login {
    display: flex;
    height: 100vh;
  }
  .login .left {
    width: 45%;
    height: 100%;
    background: linear-gradient(-50deg, #1B191C, #2E2E2E, #1B191C);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login .left .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .login .left .title h1 {
    color: white;
    font-size: 5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 100;
    line-height: 1em;
  }
  .login .left .title p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    width: 340px;
    font-weight: 300;
  }
  .login .left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .login .left form input {
    width: 60%;
    margin-bottom: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    padding: 5px;
  }
  .login .left form input:focus {
    outline: none;
  }
  .login .left form .create-account {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 30px 0 60px 0;
  }
  .login .left form .create-account .noaccount {
    font-size: 1.1em;
    color: white;
  }
  .login .left form .create-account a {
    text-decoration: underline;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
  }
  .login .left form button {
    border: none;
    font-size: 1.6em;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .login .left form .error-msg {
    margin-top: 30px;
    font-size: 1.5em;
    color: #ff4444;
    font-weight: 500;
  }
  .login .right {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/background_login.png");
    position: relative;
    color: white;
    align-items: center;
  }
  .login .right h2 {
    font-family: "Pinyon Script", cursive;
    position: relative;
    font-size: 6em;
    font-weight: 100;
  }
  .login .right p {
    position: relative;
    font-size: 1.1em;
    width: 85%;
  }
  .login .right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .login {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  .login .left {
    width: 100%;
    height: 100%;
    background: linear-gradient(-50deg, #1B191C, #2E2E2E, #1B191C);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .login .left .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .login .left .title h1 {
    color: white;
    font-size: 5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 100;
    line-height: 1em;
  }
  .login .left .title p {
    color: white;
    font-size: 1em;
    text-align: center;
    width: 280px;
    font-weight: 300;
  }
  .login .left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .login .left form input {
    width: 70%;
    margin-bottom: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    padding: 5px;
  }
  .login .left form input:focus {
    outline: none;
  }
  .login .left form .create-account {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 30px 0 60px 0;
  }
  .login .left form .create-account .noaccount {
    font-size: 1.1em;
    color: white;
  }
  .login .left form .create-account a {
    text-decoration: underline;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
  }
  .login .left form button {
    border: none;
    font-size: 1.6em;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .login .left form .error-msg {
    margin-top: 30px;
    font-size: 1.5em;
    color: #ff4444;
    font-weight: 500;
  }
  .login .right {
    display: none;
    width: 55%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/background_login.png");
    position: relative;
    color: white;
    align-items: center;
  }
  .login .right h2 {
    font-family: "Pinyon Script", cursive;
    position: relative;
    font-size: 4em;
    font-weight: 100;
  }
  .login .right p {
    position: relative;
    font-size: 1em;
    width: 60%;
  }
  .login .right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
  }
}
@media screen and (min-width: 200px) and (max-width: 425px) {
  .login {
    display: flex;
    height: 100vh;
  }
  .login .left {
    width: 100vw;
    height: 100%;
    background: linear-gradient(-50deg, #1B191C, #2E2E2E, #1B191C);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login .left .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .login .left .title h1 {
    color: white;
    font-size: 5em;
    font-family: "Pinyon Script", cursive;
    font-weight: 100;
    line-height: 1em;
  }
  .login .left .title p {
    color: white;
    font-size: 1em;
    text-align: center;
    width: 280px;
    font-weight: 300;
  }
  .login .left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .login .left form input {
    width: 70%;
    margin-bottom: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    padding: 5px;
  }
  .login .left form input:focus {
    outline: none;
  }
  .login .left form .create-account {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 30px 0 60px 0;
  }
  .login .left form .create-account .noaccount {
    font-size: 1.1em;
    color: white;
  }
  .login .left form .create-account a {
    text-decoration: underline;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
  }
  .login .left form button {
    border: none;
    font-size: 1.6em;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .login .left form .error-msg {
    margin-top: 30px;
    font-size: 1.5em;
    color: #ff4444;
    font-weight: 500;
  }
  .login .right {
    display: none;
    width: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/background_login.png");
    position: relative;
    color: white;
    align-items: center;
  }
  .login .right h2 {
    font-family: "Pinyon Script", cursive;
    position: relative;
    font-size: 4em;
    font-weight: 100;
  }
  .login .right p {
    position: relative;
    font-size: 1em;
    width: 60%;
  }
  .login .right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
  }
}

/*# sourceMappingURL=login.css.map */
