.register
{
  display: flex;
  height: 100vh;

  .left
  {
    width: 45%;
    height: 100%;
    background: linear-gradient(-50deg, #1B191C, #2E2E2E, #1B191C);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;

      h1
      {
        color: white;
        font-size: 7em;
        font-family: "Pinyon Script", cursive;
        font-weight: 100;
        line-height: 0.6em;
      }
      p
      {
        color: white;
        font-size: 1.4em;
        text-align: center;
        width: 400px;
        font-weight: 300;
      }
    }

    form
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      div
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        input
        {
          width: 70%;
          margin-bottom: 25px;
          background: transparent;
          border: none;
          border-bottom: 2px solid white;
          color: white;
          font-size: 1.2em;
          padding: 5px;
        }

        input:focus
        {
          outline: none;
        }
      }

      .create-account
      {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        margin: 30px 0 60px 0;

        .noaccount
        {
          font-size: 1.3em;
          color: white;
        }

        a
        {
          text-decoration: underline;
          font-size: 1.3em;
          font-weight: 700;
          color: white;
        }
      }

      button
      {
        border: none;
        font-size: 2em;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }

      .error-msg
      {
        margin-top: 30px;
        font-size: 1.5em;
        color: #ff4444;
        font-weight: 500;
      }
    }
  }

  .right
  {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/background_login.png");
    position: relative;
    color: white;
    align-items: center;

    h2
    {
      font-family: "Pinyon Script", cursive;
      position: relative;
      font-size: 8em;
      font-weight: 100;
    }

    p
    {
      position: relative;
      font-size: 1.5em;
      width: 78%;
    }
  }

  .right::before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
  }
}