{% extends 'baselogin.html.twig' %}

{% block title %}Biographie de l'artisan | DelMonte{% endblock %}

{% block body %}
<div class="briographie_info">
    <div class="container">
        <div class="title">
            <h2>Antonio</h2>
            <h2 class="color">Del Monte</h2>
        </div>

        <div class="text">
            <h3>Biographie</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Netus convallis vitae magna tellus nulla. Sapien dolor nunc consequat egestas. Est condimentum eu rhoncus arcu erat facilisis non tincidunt id. Tristique arcu enim pretium vestibulum aliquam enim pellentesque. Tincidunt feugiat aliquet ultrices suspendisse sit leo viverra sit magna. Varius gravida magna enim arcu eget ac tempor eu arcu. A faucibus fringilla dui mi. Enim vitae consectetur quisque ut et luctus suspendisse duis sapien. Enim enim ligula sed mauris vivamus diam suscipit id. Purus erat vestibulum urna dui vitae ut erat dictumst ac. Quis non habitant congue rhoncus felis id massa bibendum. Ornare tortor sapien orci turpis mi nulla elit. Sed ultrices quis purus interdum in nibh dictum. Consectetur mattis sollicitudin orci augue egestas mattis phasellus. Aliquet nunc posuere porttitor magna purus lacus enim nulla. Nunc diam neque sollicitudin fames. Amet quam diam libero morbi sed. Neque laoreet ac amet eu arcu nisl ut non. Eleifend fringilla suscipit quis aliquet sed ipsum vitae tristique. Lorem semper tincidunt congue accumsan malesuada cursus in congue posuere. Amet tempus tortor maecenas.</p>
        </div>
    </div>
</div>
{% endblock %}
