{% extends 'baselogin.html.twig' %}

{% block title %}Biographie de l'artisan | DelMonte{% endblock %}

{% block body %}
<div class="briographie_info">
    <div class="container">
        <div class="title">
            <h2>Antonio</h2>
            <h2 class="color">Del Monte</h2>
        </div>

        <div class="text">
            <h3>Biographie</h3>
            <p>Maître artisan et visionnaire de la haute joaillerie. Antonio Del Monte incarne l'excellence et la passion pour la bijouterie joaillerie depuis plus de deux décennies. Originaire de Genève, il a acquis son savoir-faire précieux à l'école d'arts décoratifs de la ville, où sa créativité a été forgée par les traditions séculaires de l'artisanat horloger et joaillier suisse. Doté d'un talent exceptionnel dès ses débuts, Antonio a rapidement gravi les échelons au sein des grandes firmes de haute joaillerie en Suisse. Sa maîtrise des techniques ancestrales combinée à son flair pour l'innovation l'ont distingué, le menant à des postes de responsabilité dans plusieurs maisons prestigieuses. En tant que chef d'une célèbre maison de joaillerie suisse, Antonio Del Monte a dirigé des équipes d'artisans dévoués, guidant la création de pièces uniques qui ont captivé les connaisseurs du monde entier. Chaque création sous sa direction témoigne d'un mariage harmonieux entre tradition et modernité, avec une attention méticuleuse portée aux détails et à la qualité des matériaux. Réputé pour sa vision artistique et son engagement envers l'excellence, Antonio Del Monte continue de repousser les limites de la créativité dans l'univers exigeant de la haute joaillerie. Ses œuvres sont recherchées pour leur élégance intemporelle et leur rareté, reflétant l'héritage d'une vie dédiée à l'artisanat d'exception.</p>
        </div>
    </div>
</div>
{% endblock %}
