{% extends 'base.html.twig' %}

{% block title %}Accueil | DelMonte {% endblock %}

{% block body %}
<section class="accueil_main">
    <div class="text">
        <div class="title-container">
            <div class="title"><h1>Delmonte</h1></div>
            <div class="subtitle"><p>Rediscover Luxury</p></div>
        </div>
        <div class="txt">
            <p>Haute joaillerie d'exception. Redécouvrez le luxe à travers nos créations uniques, vendues aux enchères une fois par an. Chaque bijou est une œuvre d'art, conçue pour sublimer votre beauté et refléter votre individualité. Explorez notre collection et laissez-vous séduire par la perfection de nos joyaux.</p>
        </div>
        <div class="btn">
            <a href="/biographie">Découvrez notre artisan</a>
        </div>
    </div>

    <img class="blackrose" src="/img/blackrose.png" alt="bague avec un rose noire">
</section>

<section class="accueil_encheres">
    <div class="text">
        <div class="title"><h2>Enchères</h2></div>
        <div class="subtitle"><p>Déroulé  & organisation des enchères</p></div>
        <div class="infos">
            <p class="subinfo">Les enchères auront lieu le</p>
            <p class="info">14 Décembre 2026</p>
        </div>

        <div class="txt">
            <p>Chaque année en décembre, l'éclat de la haute joaillerie atteint son paroxysme lors des enchères exclusives organisées par Delmonte. Réputées pour leur opulence et leur rareté, ces ventes captivent les collectionneurs et passionnés du monde entier. Chaque pièce présentée incarne l'essence du luxe et de l'artisanat d'exception, méticuleusement façonnée pour capturer l'imagination. C'est une invitation à découvrir des bijoux uniques, symboles de perfection et de sophistication, dans un événement où chaque enchère promet une expérience à la fois prestigieuse et inoubliable.</p>
        </div>
    </div>
</section>

<section class="accueil_artisan">
    <div class="section-title">
        <h2>Artisan</h2>
        <p>Un artisan professionnel et expérimenté</p>
    </div>

    <div class="artisan_info">
        <div class="left">
            <div class="title">
                <p>Antonio Delmonte</p>
            </div>
            <div class="txt">
                <p>Notre artisan chez Delmonte est un maître joaillier expérimenté et professionnel, doté de nombreuses années d'expérience dans la création de bijoux d'exception. Son savoir-faire inégalé et son attention aux détails garantissent des pièces uniques, alliant tradition et innovation. Chaque bijou est une œuvre d'art, témoignant de son dévouement à l'excellence et à la perfection.</p>
            </div>
            <div class="btn">
                <a href="/biographie">En savoir plus</a>
            </div>
        </div>
    </div>

    <img class="artisan" src="/img/artisan.png" alt="Image contenant l'artiant Antonio Delmonte">
</section>
{% endblock %}
