{% extends 'base.html.twig' %}

{% block title %}Membres | DelMonte{% endblock %}

{% block body %}
<div class="membres">
    <div class="title">
        <h2>Membres</h2>
        <p>Soutenez Delmonte en devenant membre, bénéficiez de nombreux avantages et de nombreuses informations relatives à nos créations.</p>
    </div>

    <section class="member-card">
        <div class="container">
            <div class="title">
                <h2>Nos cartes</h2>
                <p>Consultez l’ensemble de nos cartes membres</p>
            </div>

            <div class="card1">
                <div class="left">
                    <img src="/img/cards/silver.png" alt="Carte membre argent">
                </div>

                <div class="right">
                    <h3>Membre <span class="silver">Silver</span></h3>
                    <p>
                        La carte membre Silver est attribuée aux adhérents depuis moins de trois ans. Elle vous donne accès à des avantages exclusifs, tels que des réductions spéciales, une assistance prioritaire et des invitations à des événements dédiés. Nous valorisons votre fidélité et votre engagement. Profitez des privilèges et des services offerts pour vivre une expérience enrichissante avec nous.</p>
                </div>
            </div>

            <div class="card2">
                <div class="left">
                    <h3>Membre <span class="gold">Gold</span></h3>
                    <p>La carte membre Gold est attribuée aux adhérents depuis trois ou quatre ans. Elle vous donne accès à des avantages exclusifs, tels que des informations supplémentaires, une assistance prioritaire et des invitations à des événements dédiés. Nous valorisons votre fidélité et votre engagement. Profitez des privilèges et des services offerts pour vivre une expérience enrichissante avec nous.</p>
                </div>

                <div class="right">
                    <img src="/img/cards/gold.png" alt="Carte membre or">
                </div>
            </div>

            <div class="card1">
                <div class="left">
                    <img src="/img/cards/diamond.png" alt="Carte membre diamant">
                </div>

                <div class="right">
                    <h3>Membre <span class="diamond">Diamond</span></h3>
                    <p>La carte membre Diamond est attribuée aux adhérents depuis cinq ans. Elle vous donne accès à des avantages exclusifs, tels que des informations supplémentaires, une assistance prioritaire et des invitations à des événements dédiés. Nous valorisons votre fidélité et votre engagement. Profitez des privilèges et des services offerts pour vivre une expérience enrichissante avec nous.</p>
                </div>
            </div>

            <div class="card2">
                <div class="left">
                    <h3>Membre <span class="ruby">Ruby</span></h3>
                    <p>La carte membre Ruby est attribuée aux adhérents depuis dix ans. Elle vous donne accès à des avantages exclusifs, tels que des informations supplémentaires, une assistance prioritaire et des invitations à des événements dédiés. Nous valorisons votre fidélité et votre engagement. Profitez des privilèges et des services offerts pour vivre une expérience enrichissante avec nous.</p>
                </div>

                <div class="right">
                    <img src="/img/cards/ruby.png" alt="Carte membre ruby">
                </div>
            </div>
        </div>
    </section>

    <div class="become-member">
        <h2>Devenir Membre</h2>
        <p>Pour devenir membre, vous devez soumettre une demande en remplissant le formulaire en ligne. Une fois votre demande envoyée, notre équipe l'examinera et vous recevrez une confirmation par courriel. Nous nous réjouissons de vous accueillir parmi nos membres et de vous offrir une expérience enrichissante au sein de notre communauté. Rejoignez-nous dès aujourd'hui et découvrez les nombreux avantages exclusifs réservés à nos adhérents.</p>
        {% if not isUserMember %}
            <a href="/membres/adhesion">Demande d'adhésion membre</a>
        {% else %}
            <p class="currentlyMember">Vous faites déjà parti de nos membres ou bien vous avez une demande en cours.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
