{% extends 'baselogin.html.twig' %}

{% block title %}Gestion des collections | Delmonte{% endblock %}

{% block body %}
    <div class="admin-collections-add">
        <h1>Modifier une collection</h1>
        <p>Choisissez une année pour votre collection</p>
        {{ form_start(form) }}
            {{ form_widget(form.year, {'label': false, "attr": {"placeholder": "Année de la collection"}}) }}
            <button type="submit">Modifier la collection</button>
            {% for message in app.flashes('error') %}
                <div class="error-msg">{{ message }}</div>
            {% endfor %}
        {{ form_end(form) }}
    </div>
{% endblock %}
