.membres {
  background: linear-gradient(-30deg, #111111 0%, #2f2f2f 50%, #111111 100%);
}
.membres .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 50px;
}
.membres .title h2 {
  color: white;
  font-size: 6em;
  font-weight: 100;
  font-family: "Pinyon Script", cursive;
}
.membres .title p {
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  width: 50%;
  text-align: center;
}
.membres .member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.membres .member-card .container {
  width: 90%;
}
.membres .member-card .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membres .member-card .container .title h2 {
  font-size: 4.8em;
}
.membres .member-card .container .title p {
  font-size: 1.6em;
}
.membres .member-card .container .card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}
.membres .member-card .container .card1 .left {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
.membres .member-card .container .card1 .left img {
  border-radius: 10px;
  width: 85%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.membres .member-card .container .card1 .right {
  display: flex;
  flex-direction: column;
  color: white;
  width: 55%;
}
.membres .member-card .container .card1 .right h3 {
  color: -moz-win-communicationstext;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
}
.membres .member-card .container .card1 .right h3 .silver {
  background: linear-gradient(to right, #4A4A4A, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.membres .member-card .container .card1 .right h3 .diamond {
  background: linear-gradient(to right, #084996, #65ABFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.membres .member-card .container .card1 .right p {
  font-weight: 200;
  font-size: 1.3em;
}
.membres .member-card .container .card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}
.membres .member-card .container .card2 .right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.membres .member-card .container .card2 .right img {
  border-radius: 10px;
  width: 85%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.membres .member-card .container .card2 .left {
  display: flex;
  flex-direction: column;
  color: white;
  width: 55%;
}
.membres .member-card .container .card2 .left h3 {
  color: -moz-win-communicationstext;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
}
.membres .member-card .container .card2 .left h3 .ruby {
  background: linear-gradient(to right, #76001F, #DC003A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.membres .member-card .container .card2 .left h3 .gold {
  background: linear-gradient(to right, #52462A, #C1A96A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.membres .member-card .container .card2 .left p {
  font-weight: 200;
  font-size: 1.3em;
}
.membres .become-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}
.membres .become-member h2 {
  color: white;
  font-size: 6em;
  font-weight: 100;
  font-family: "Pinyon Script", cursive;
}
.membres .become-member p {
  color: white;
  font-size: 1.3em;
  width: 70%;
}
.membres .become-member a {
  padding: 10px 20px;
  background: white;
  color: black;
  margin: 50px 0;
  font-weight: 600;
  font-size: 1.5em;
}
.membres .become-member .currentlyMember {
  width: fit-content;
  margin-top: 40px;
  color: orange;
}

/* Tablet */
@media screen and (min-width: 0px) and (max-width: 425px) {
  .membres {
    background: linear-gradient(-30deg, #111111 0%, #2f2f2f 50%, #111111 100%);
  }
  .membres .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .membres .title h2 {
    color: white;
    font-size: 5em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .title p {
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    padding: 0 10px;
    font-weight: 100;
    width: 95%;
    text-align: left;
  }
  .membres .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .membres .member-card .container {
    width: 90%;
  }
  .membres .member-card .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .membres .member-card .container .title h2 {
    font-size: 4em;
  }
  .membres .member-card .container .title p {
    font-size: 1.3em;
    text-align: center;
  }
  .membres .member-card .container .card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 70px 0;
  }
  .membres .member-card .container .card1 .left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .membres .member-card .container .card1 .left img {
    border-radius: 10px;
    width: 380px;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card1 .right {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-items: center;
  }
  .membres .member-card .container .card1 .right h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card1 .right h3 .silver {
    background: linear-gradient(to right, #4A4A4A, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right h3 .diamond {
    background: linear-gradient(to right, #084996, #65ABFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right p {
    font-weight: 200;
    font-size: 1.1em;
  }
  .membres .member-card .container .card2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
  }
  .membres .member-card .container .card2 .right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .membres .member-card .container .card2 .right img {
    border-radius: 10px;
    width: 380px;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card2 .left {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-items: center;
  }
  .membres .member-card .container .card2 .left h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card2 .left h3 .ruby {
    background: linear-gradient(to right, #76001F, #DC003A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left h3 .gold {
    background: linear-gradient(to right, #52462A, #C1A96A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left p {
    font-weight: 200;
    font-size: 1.1em;
  }
  .membres .become-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }
  .membres .become-member h2 {
    color: white;
    font-size: 3.3em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .become-member p {
    color: white;
    font-size: 0.9em;
    width: 70%;
  }
  .membres .become-member a {
    padding: 10px 20px;
    background: white;
    color: black;
    margin: 40px 0;
    font-weight: 600;
    font-size: 1.2em;
  }
  .membres .become-member .currentlyMember {
    width: fit-content;
    margin-top: 40px;
    color: orange;
  }
}
/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .membres {
    background: linear-gradient(-30deg, #111111 0%, #2f2f2f 50%, #111111 100%);
  }
  .membres .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .membres .title h2 {
    color: white;
    font-size: 5em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .title p {
    color: white;
    font-size: 1em;
    font-weight: 100;
    width: 85%;
    text-align: left;
  }
  .membres .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .membres .member-card .container {
    width: 90%;
  }
  .membres .member-card .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .membres .member-card .container .title h2 {
    font-size: 4em;
  }
  .membres .member-card .container .title p {
    font-size: 1.3em;
    text-align: center;
  }
  .membres .member-card .container .card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 70px 0;
  }
  .membres .member-card .container .card1 .left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .membres .member-card .container .card1 .left img {
    border-radius: 10px;
    width: 380px;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card1 .right {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-items: center;
  }
  .membres .member-card .container .card1 .right h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card1 .right h3 .silver {
    background: linear-gradient(to right, #4A4A4A, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right h3 .diamond {
    background: linear-gradient(to right, #084996, #65ABFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right p {
    font-weight: 200;
    font-size: 1.1em;
  }
  .membres .member-card .container .card2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
  }
  .membres .member-card .container .card2 .right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .membres .member-card .container .card2 .right img {
    border-radius: 10px;
    width: 380px;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card2 .left {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-items: center;
  }
  .membres .member-card .container .card2 .left h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card2 .left h3 .ruby {
    background: linear-gradient(to right, #76001F, #DC003A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left h3 .gold {
    background: linear-gradient(to right, #52462A, #C1A96A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left p {
    font-weight: 200;
    font-size: 1.1em;
  }
  .membres .become-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }
  .membres .become-member h2 {
    color: white;
    font-size: 5em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .become-member p {
    color: white;
    font-size: 1em;
    width: 70%;
  }
  .membres .become-member a {
    padding: 10px 20px;
    background: white;
    color: black;
    margin: 40px 0;
    font-weight: 600;
    font-size: 1.2em;
  }
  .membres .become-member .currentlyMember {
    width: fit-content;
    margin-top: 40px;
    color: orange;
  }
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .membres {
    background: linear-gradient(-30deg, #111111 0%, #2f2f2f 50%, #111111 100%);
  }
  .membres .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .membres .title h2 {
    color: white;
    font-size: 5em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .title p {
    color: white;
    font-size: 1em;
    font-weight: 100;
    width: 70%;
    text-align: center;
  }
  .membres .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .membres .member-card .container {
    width: 90%;
  }
  .membres .member-card .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .membres .member-card .container .title h2 {
    font-size: 4em;
  }
  .membres .member-card .container .title p {
    font-size: 1.3em;
  }
  .membres .member-card .container .card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
  }
  .membres .member-card .container .card1 .left {
    width: 45%;
    display: flex;
    justify-content: flex-start;
  }
  .membres .member-card .container .card1 .left img {
    border-radius: 10px;
    width: 85%;
    height: 280px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card1 .right {
    display: flex;
    flex-direction: column;
    color: white;
    width: 55%;
  }
  .membres .member-card .container .card1 .right h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card1 .right h3 .silver {
    background: linear-gradient(to right, #4A4A4A, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right h3 .diamond {
    background: linear-gradient(to right, #084996, #65ABFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card1 .right p {
    font-weight: 200;
    font-size: 1em;
  }
  .membres .member-card .container .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
  }
  .membres .member-card .container .card2 .right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .membres .member-card .container .card2 .right img {
    border-radius: 10px;
    width: 85%;
    height: 280px;
    object-fit: cover;
    object-position: center;
  }
  .membres .member-card .container .card2 .left {
    display: flex;
    flex-direction: column;
    color: white;
    width: 55%;
  }
  .membres .member-card .container .card2 .left h3 {
    color: -moz-win-communicationstext;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .membres .member-card .container .card2 .left h3 .ruby {
    background: linear-gradient(to right, #76001F, #DC003A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left h3 .gold {
    background: linear-gradient(to right, #52462A, #C1A96A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .membres .member-card .container .card2 .left p {
    font-weight: 200;
    font-size: 1em;
  }
  .membres .become-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }
  .membres .become-member h2 {
    color: white;
    font-size: 5em;
    font-weight: 100;
    font-family: "Pinyon Script", cursive;
  }
  .membres .become-member p {
    color: white;
    font-size: 1em;
    width: 70%;
  }
  .membres .become-member a {
    padding: 10px 20px;
    background: white;
    color: black;
    margin: 40px 0;
    font-weight: 600;
    font-size: 1.2em;
  }
  .membres .become-member .currentlyMember {
    width: fit-content;
    margin-top: 40px;
    color: orange;
  }
}

/*# sourceMappingURL=members.css.map */
