<form method="post" action="{{ path('app_admin_collections_delete', {'id': collection.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection.id) }}">
    <button class="btn">Delete</button>
</form>
