.collections
{
  background: linear-gradient(95deg, #101010 50%, #424242 100%);

  .product
  {
    width: 100%;
    display: flex;
    padding: 0;

    .container
    {
      display: flex;
      align-items: center;
      width: 100%;

      .left
      {
        display: flex;
        width: 40%;
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: top left;
        height: 100%;
      }

      .right
      {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 0;

        .main-title
        {
          display: flex;
          flex-direction: column;
          color: white;
          align-items: center;
          justify-content: center;

          h2
          {
            font-size: 7em;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 800;
            line-height: 1em;
          }

          p
          {
            font-size: 1.8em;
            font-weight: 200;
          }
        }

        .vision
        {
          display: flex;
          flex-direction: column;
          margin-top: 50px;

          .title
          {
            display: flex;
            color: white;
            align-items: center;
            margin-bottom: 10px;

            h3
            {
              font-size: 2.5em;
              margin-left: 15px;
              margin-bottom: 1px;
            }

            i
            {
              font-size: 2.3em;
            }

            .goldstar
            {
              color: gold;
            }
          }

          p
          {
            color: white;
            font-weight: 200;
            font-size: 1.6em;
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .collections
  {
    background: linear-gradient(95deg, #101010 50%, #424242 100%);

    .product
    {
      width: 100%;
      display: flex;
      padding: 0;

      .container
      {
        display: flex;
        align-items: center;
        width: 100%;

        .left
        {
          display: flex;
          width: 50%;
          background-size: 90% 100%;
          background-repeat: no-repeat;
          background-position: top left;
          height: 100%;
        }

        .right
        {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 60px 0;

          .main-title
          {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            justify-content: center;

            h2
            {
              font-size: 4em;
              text-transform: uppercase;
              letter-spacing: 10px;
              font-weight: 800;
              line-height: 1em;
            }

            p
            {
              font-size: 1.6em;
              font-weight: 200;
            }
          }

          .vision
          {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            .title
            {
              display: flex;
              color: white;
              align-items: center;
              margin-bottom: 10px;

              h3
              {
                font-size: 1.7em;
                margin-left: 15px;
                margin-bottom: 1px;
              }

              i
              {
                font-size: 1.7em;
              }

              .goldstar
              {
                color: gold;
              }
            }

            p
            {
              color: white;
              font-weight: 200;
              font-size: 1.2em;
              width: 90%;
            }
          }
        }
      }
    }
  }
  
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .collections {
    background: linear-gradient(95deg, #101010 50%, #424242 100%);

    .product {
      display: none;
    }

    .product-mobile {
      display: flex;
      padding: 40px 0;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-title {
          display: flex;
          flex-direction: column;
          color: white;
          align-items: center;
          justify-content: center;

          h2 {
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 800;
            line-height: 1em;
          }

          p {
            font-size: 1.6em;
            font-weight: 200;
          }
        }

        .image {
          height: 500px;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          margin: 20px 0;

        }

        .vision {
          display: flex;
          flex-direction: column;
          margin-top: 50px;
          width: 80%;

          .title {
            display: flex;
            color: white;
            align-items: center;
            margin-bottom: 10px;

            h3 {
              font-size: 1.7em;
              margin-left: 15px;
              margin-bottom: 1px;
            }

            i {
              font-size: 1.7em;
            }

            .goldstar {
              color: gold;
            }
          }

          p {
            color: white;
            font-weight: 200;
            font-size: 1.2em;
            width: 100%;
          }
        }
      }
    }
  }
}

  @media screen and (min-width: 0px) and (max-width: 425px) {
    .collections {
      background: linear-gradient(95deg, #101010 50%, #424242 100%);

      .product {
        display: none;
      }

      .product-mobile {
        display: flex;
        padding: 40px 0;

        .container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .main-title {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            justify-content: center;

            h2 {
              font-size: 3em;
              text-transform: uppercase;
              letter-spacing: 10px;
              font-weight: 800;
              line-height: 1em;
            }

            p {
              font-size: 1.6em;
              font-weight: 200;
            }
          }

          .image {
            height: 500px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 20px 0;

          }

          .vision {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            width: 80%;

            .title {
              display: flex;
              color: white;
              align-items: center;
              margin-bottom: 10px;

              h3 {
                font-size: 1.3em;
                margin-left: 7px;
                margin-bottom: 1px;
              }

              i {
                font-size: 1.2em;
              }

              .goldstar {
                color: gold;
              }
            }

            p {
              color: white;
              font-weight: 200;
              font-size: 1em;
              width: 100%;
            }
          }
        }
      }
    }
}