.collections {
  background: linear-gradient(95deg, #101010 50%, #424242 100%);
}
.collections .product {
  width: 100%;
  display: flex;
  padding: 0;
}
.collections .product .container {
  display: flex;
  align-items: center;
  width: 100%;
}
.collections .product .container .left {
  display: flex;
  width: 40%;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100%;
}
.collections .product .container .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.collections .product .container .right .main-title {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
.collections .product .container .right .main-title h2 {
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 800;
  line-height: 1em;
}
.collections .product .container .right .main-title p {
  font-size: 1.8em;
  font-weight: 200;
}
.collections .product .container .right .vision {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.collections .product .container .right .vision .title {
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 10px;
}
.collections .product .container .right .vision .title h3 {
  font-size: 2.5em;
  margin-left: 15px;
  margin-bottom: 1px;
}
.collections .product .container .right .vision .title i {
  font-size: 2.3em;
}
.collections .product .container .right .vision .title .goldstar {
  color: gold;
}
.collections .product .container .right .vision p {
  color: white;
  font-weight: 200;
  font-size: 1.6em;
  width: 90%;
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .collections {
    background: linear-gradient(95deg, #101010 50%, #424242 100%);
  }
  .collections .product {
    width: 100%;
    display: flex;
    padding: 0;
  }
  .collections .product .container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .collections .product .container .left {
    display: flex;
    width: 50%;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    height: 100%;
  }
  .collections .product .container .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }
  .collections .product .container .right .main-title {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .collections .product .container .right .main-title h2 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;
    line-height: 1em;
  }
  .collections .product .container .right .main-title p {
    font-size: 1.6em;
    font-weight: 200;
  }
  .collections .product .container .right .vision {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .collections .product .container .right .vision .title {
    display: flex;
    color: white;
    align-items: center;
    margin-bottom: 10px;
  }
  .collections .product .container .right .vision .title h3 {
    font-size: 1.7em;
    margin-left: 15px;
    margin-bottom: 1px;
  }
  .collections .product .container .right .vision .title i {
    font-size: 1.7em;
  }
  .collections .product .container .right .vision .title .goldstar {
    color: gold;
  }
  .collections .product .container .right .vision p {
    color: white;
    font-weight: 200;
    font-size: 1.2em;
    width: 90%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .collections {
    background: linear-gradient(95deg, #101010 50%, #424242 100%);
  }
  .collections .product {
    display: none;
  }
  .collections .product-mobile {
    display: flex;
    padding: 40px 0;
  }
  .collections .product-mobile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collections .product-mobile .container .main-title {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .collections .product-mobile .container .main-title h2 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;
    line-height: 1em;
  }
  .collections .product-mobile .container .main-title p {
    font-size: 1.6em;
    font-weight: 200;
  }
  .collections .product-mobile .container .image {
    height: 500px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0;
  }
  .collections .product-mobile .container .vision {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
  }
  .collections .product-mobile .container .vision .title {
    display: flex;
    color: white;
    align-items: center;
    margin-bottom: 10px;
  }
  .collections .product-mobile .container .vision .title h3 {
    font-size: 1.7em;
    margin-left: 15px;
    margin-bottom: 1px;
  }
  .collections .product-mobile .container .vision .title i {
    font-size: 1.7em;
  }
  .collections .product-mobile .container .vision .title .goldstar {
    color: gold;
  }
  .collections .product-mobile .container .vision p {
    color: white;
    font-weight: 200;
    font-size: 1.2em;
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 425px) {
  .collections {
    background: linear-gradient(95deg, #101010 50%, #424242 100%);
  }
  .collections .product {
    display: none;
  }
  .collections .product-mobile {
    display: flex;
    padding: 40px 0;
  }
  .collections .product-mobile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collections .product-mobile .container .main-title {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .collections .product-mobile .container .main-title h2 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;
    line-height: 1em;
  }
  .collections .product-mobile .container .main-title p {
    font-size: 1.6em;
    font-weight: 200;
  }
  .collections .product-mobile .container .image {
    height: 500px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0;
  }
  .collections .product-mobile .container .vision {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
  }
  .collections .product-mobile .container .vision .title {
    display: flex;
    color: white;
    align-items: center;
    margin-bottom: 10px;
  }
  .collections .product-mobile .container .vision .title h3 {
    font-size: 1.3em;
    margin-left: 7px;
    margin-bottom: 1px;
  }
  .collections .product-mobile .container .vision .title i {
    font-size: 1.2em;
  }
  .collections .product-mobile .container .vision .title .goldstar {
    color: gold;
  }
  .collections .product-mobile .container .vision p {
    color: white;
    font-weight: 200;
    font-size: 1em;
    width: 100%;
  }
}

/*# sourceMappingURL=collection_show.css.map */
